@model gokul.Models.executive

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-white">Create</h1>

<h4 class="text-white">executive</h4>
<hr />
<div class="row text-white">
    <div class="col-md-4 text-white">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExecutiveName" class="control-label"></label>
                <input asp-for="ExecutiveName" class="form-control" />
                <span asp-validation-for="ExecutiveName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTypeId" class="control-label"></label>
                <select asp-for="OrderTypeId" class ="form-control" asp-items="ViewBag.OrderTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PhnNo" class="control-label"></label>
                <input asp-for="PhnNo" class="form-control" />
                <span asp-validation-for="PhnNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-white"  asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
